hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

/*MY CODE*/

* {
    text-decoration: none;
}

main {
    padding-top: 100px;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100px;
}

header .header-brand {
    font-family: fantasy;
    font-size: 24px;
    font-weight: 900;
    color: #111;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;

}

header nav ul li {
    display: inline-block;
    float: left;
    list-style: none;
    padding: 0 16px;
}

header nav ul li a {
    font-family: fantasy;
    font-size: 16px;
    color: #111;
    text-transform: uppercase;
}

header .header-cases {
    display: none;
}

@media only screen and (min-width: 1000px) {
    header .header-brand {
        margin: 31px 0;
        text-align: left;
        line-height: 38px;
        padding: 0px 20px 0px 40px;
        border-right: 3px solid #111;
        float: left;
    }

    header nav ul {
        margin: 20px 0px 0px 20px;
        float: left;
    }
    
   
    header nav ul li a {
        line-height: 60px;
    }

    header .header-cases {
        display: block;
        font-family: fantasy;
        font-size: 16px;
        color: #111;
        text-transform: uppercase;
        line-height: 38px;
        border: 1px solid #111;
        float: right;
        margin-right: 40px;
        margin-top: 30px;
        padding: 0 20px;
    }
}

/* INDEX */

.index-banner {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url('img/new\ look.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

.index-pic {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url('img/american\ passport\ pic.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.index-banner h2 {
    font-family: fantasy;
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}

.index-banner h1 {
    font-family: fantasy;
    font-size: 28px;
    font-weight: 100;
    font-style: italic;
    line-height: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}

.index-links div {
    margin: 16px 16px 0;
    width: calc(100% - 32px);
    height: 100px;
    background-color: #f2f2f2;
}

.index-links div h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 100px;
    color: #111;
    text-align: center;
    text-transform: uppercase;
}


@media only screen and (min-width: 1000px) {
    .wrapper {
        width: 1000px;
        margin: 0 auto;
    }
    .index-banner {
        height: 450px;
    } 

    .index-banner h1 {
        display: block;
        width: 560px;
        margin: 0 auto;
    }

    .index-links {
        overflow: hidden;
    }

    .index-links div {
        margin: 20px 10px 0;
        height: 230px;
        background-color: #f2f2f2;
        float: left;
    }
    
    .index-boxlink-square {
        width: calc(25% - 20px) !important;
    }

    .index-boxlink-rectangle {
        width: calc(50% - 20px) !important;
    }

    .index-links div h3 {
        line-height: 180px;
    }
}

/*CASES*/

.cases-links {
   overflow: hidden;
   margin-bottom: 20px;
}

.cases-links h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    font-weight: 600;
    color: #111;
    text-transform: uppercase;
 }

 .error-404 {
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
}

.error-404-p {
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
}

.cases-links .wrapper div {
    float: left;
    width: 230px;
    height: 230px;
    margin: 20px 10px 0px;
    background-color: #e3e3e3;
}

.cases-links .wrapper div p {
    padding-top: 35%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    font-weight: 600;
    color: #111;
    text-align: center;
    text-transform: uppercase;
}

.cases-link .wrapper2 div {
    padding-top: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: fit-content;
    height: 200px;
    display: block;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 600;
    color: #111;
    text-align: center;
    text-transform: uppercase;
    background-color: #e3e3e3;
    
}

.cases-link .wrapper2 div p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: 100;
    background-color: #e3e3e3;
    display: block;
    color: #111;
    text-align: center;
}


@media only screen and (min-width: 1000px) {
    .cases-link .wrapper2 div {
        padding-top: 2%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        width: 1000px;
        height: 200px;
        display: block;
        margin: 0 auto;
        font-size: 24px;
        font-weight: 600;
        color: #111;
        text-align: center;
        text-transform: uppercase;
        background-color: #e3e3e3;
        
    }
    
    .cases-link .wrapper2 div p {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 18px;
        font-weight: 100;
        background-color: #e3e3e3;
        display: block;
        color: #111;
        text-align: center;
    }
}


/*CASE*/
.case-vid h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    font-weight: 600;
    color: #111;
    text-align: center;
    text-transform: uppercase;

}

.case-vid video{
    display: block;
   margin: 0 auto;
   padding: 30px 0;
}

.case-vid article h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
   font-weight: 600;
   color: #111;
   text-transform: uppercase;
   padding-bottom: 20px;
}

.case-vid article div p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
   font-weight: 600;
   line-height: 24px;
   color: #111;
   text-transform: uppercase;
   column-count: 3;
   column-gap: 30px;
}

/*FOOTER*/

footer {
    width: calc(100% - 80px);
    padding: 40px 40px;
    margin-top: 20px;
    background-color: #111;
    overflow: hidden;
}

footer ul {
    width: fit-content;
    float: left;
   padding-left: 20px;
}

footer ul li {
    display: block;
    list-style: none;
}

footer ul li a {
    font-family: fantasy;
    font-size: 16px;
    color: #fff;
    line-height: 40px;
}

.footer-links-cases {
    display: none;
}

.footer-sm {
    width: 50px;
    float: right;
}

.footer-sm img {
    width: 100%;
    margin-bottom: 10px;
    background-color: #fff;
}

@media only screen and (min-width: 1000px) {
    .footer-links-cases {
        display: block;
       font-size: 10px;
    }

    footer ul {
        width: fit-content;
        float: left;
       padding-left: 20px;
       padding-right: 30px;
    }

    footer ul li p {
        font-family: fantasy;
        font-size: 16px;
        color: #fff;
        line-height: 1px;
        text-transform: uppercase;
    }
}